<header class="header">
  <h1 class="header_title">Github Issue Tracker</h1>
  {{# if credentials}}
    <form class="logout" action="/logout" method="post">
      <button type="submit" class="logout_button">Logout</button>
    </form>
  {{/if}}
</header>
