<header class="header">
  <h1 class="header_title">Authosaurus</h1>
  {{# if credentials}}
    <form class="" action="/logout" method="get">
      <button type="submit" name="logout_button">Logout</button>
    </form>
  {{/if}}
</header>
