<form class="login_form" action="/login" method="get">
  <button class="github_submit" type="submit"><i class="fa fa-github fa-5x icon_style" aria-hidden="true"></i></button>
  <p>login with Github</p>
</form>
